:root {
    --yellow: #FFC72C;
    --blue: #0077c0;
    --purple: #9A4EAE;
    --pink: #F2C1D1;
    --green: #1B4D3E;
    --lime: #32de84;
    --orange: #E97451;
    --coral: #F94D00;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: center;
    background-color: rgb(0,0,0,.9);
}

header {
    height: 50px;
}

#splash {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.4);
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
}

#splash p {
    text-align: center;
    color: white;
    font-size: 40px;
}

.wrapper {
    width: 1500px;
    height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--blue);
    border: 3px var(--yellow) solid;
    z-index: 10;
}

.sidebar {
    width: 180px;
    height: 100%;
    z-index: 11;
    background-color: var(--purple);
    border-right: 3px var(--yellow) solid;
    float: left;
}

.logo-container {
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.logo-container p {
    color: white;
    font-size: 16px;
    font-weight: bolder;
    font-style: oblique;
}

.divider {
    height: 1px;
    width: 100%;
    border-bottom: 3px var(--yellow) solid;
}

.buttons {
    padding: 2px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0px;
    width: 145px;
}

.buttons img {
    width: 88px;
    height: 31px;
}

.counter {
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

.counter p {
    color: white;
    font-weight: bolder;
    font-style: oblique;
}

.navlink {
    line-height: 20px;
    font-size: 15px;
    display: block;
}

.navbar {
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a {
    color: var(--green);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: var(--lime);
    text-decoration: underline;
    font-style: oblique;
}

.player {
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

.player img {
    width: 69px;
    height: 90px;
}

.tip {
    color: rgba(255,40,40,0.4);
    font-size: 12px;
    font-style: oblique;
    font-weight: 100;
}

#pokemon-container {
    text-align: center;
    color: var(--lime);
    background-color: var(--orange);
    border-radius: 5px;
}

.pokemon-image {
    border: 3px var(--yellow) solid;
    width: 160px;
    height: 160px;
    background-color: var(--green);
}

.pokemon-name {
    font-weight: bold;
    font-size: 20px;
}

.rpoke { padding: 3px;}

.rpoke h2 {
    font-size: 20px;
    color: var(--green);
    font-style: oblique;
    text-align: center;
}

.m {
    width: 1280px;
    height: 100%;
    /*background-color: blue;*/
    margin-left: 210px;
    display: flex;
    justify-content: center;
}

.inner {
    width: 100%;
    height: 100%;
    background-color: springgreen;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    position: relative;
}

.left {
    flex: 1 1 410px;
    min-width: 410px;
    background-color: blue;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 20;
}

.middle {
    flex: 1 1 410px;
    min-width: 410px;
    background-color: palegoldenrod;
    height: 100%;
}

.right {
    flex: 1 1 410px;
    min-width: 410px;
    background-color: aquamarine;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 20;
}

#welcome-mat {
    width: 400px;
    height: 220px;
    padding: 5px;
    background-image: url("../Images/Backgrounds/Mj5Qnpa.gif");
    position: relative;
    border: 3px var(--yellow) solid;
    margin-top: 5px;
}

#welcome-mat h2 {
    margin-left: 7px;
    color: var(--coral);
    text-decoration: underline;
    font-weight: bolder;
}

#welcome-mat p { color: var(--coral);}

#gify {
    width: 314px;
    height: 321px;
}